<div class="con-height">
<div class="login-card">
<div class="login-form">
<h2 class="login-title"><span>Admin Login</span></h2>
<%= form_for :admin, url: login_path do |f| %>
<br>
 Name: <%= f.text_field :name %>
 Password: <%= f.password_field :password %>
  <br>
  <%= f.submit 'Login', class: "btn-alt" %>
<% end %>
</div>
</div>
</div>
