<h1 class="up-title">Upcoming <span>Events</span></h1>
<div class="grid-wrap">
<% @upcoming_bookings.each{|b| %>
<div class="info-flex">
<h3>Customer Details</h3>
<p class="flow-text"><%= b.name %></p>
<h5>contact Details</h5>
<p class="flow-text">Email: <%= b.email %></p>
<p class="flow-text">Location: <%= b.location %></p>
<p class="flow-text">Date: <%= b.start_date %></p>
</div>
<% } %>
</div>