<h1>Upcoming events</h1>
<% @upcoming_bookings.each{|b| %>

<h3>Customer Details</h3>
<p><%= b.name %></p>
<h5>contact Details</h5>
<p>Email: <%= b.email %></p>
<p>Location: <%= b.location %></p>
<br>

<% } %>